{% extends "base.html" %}
{% block header %}
<div id="header-container">
  <div id="header-text">
      <h1>Display Email Page</h1>
      <h2>Email Security</h2>
      <h3>Team - 35</h3>
      <h4>Logged in as: <strong>{{user}}</strong></h4>
  </div>
  <div id="header-logo">
      <img src="/static/img/logo.png" alt="Logo" class="logo">
  </div>

  </div>

  <div id="menu">
    <ul>
      <li class="menuitem"><a href="/dashboard">Dashboard</a></li>
      <li class="menuitem"><a href="/emails">Emails</a></li>
      <li class="menuitem"><a href="/logs">Logs</a></li>
      <li class="menuitem"><a href="/logout">Logout</a></li>
    </ul>
  </div>
{% endblock %}
{% block content %}
<h3>Display original email</h3>
<div class="outer">
  {% if emailData %}
    <table table id="table" class="table table-hover table-dark">
      <tr>
        <td>Date:</td>
        <td>{{emailData.Date}}</td>
      </tr>
      <tr>
        <td>To:</td>
        <td>{{emailData.To}}</td>
      </tr>
        <td>From:</td>
        <td>{{emailData.From}}</td>
      <tr>
      <tr>
        <td>Subject:</td>
        <td>{{emailData.Subject}}</td>
      </tr>
      <tr>
        <td>Body:</td>
        <td>{{emailData.Body}}</td>
      </tr>
      <tr>
        <td>Attachments:</td>
        <td>
          <ol>
          {% if emailData.Attachments %}
            {% for attachment in emailData.Attachments%}
              <li>{{attachment}}</li>
            {% endfor %}
          </ol>
          {% else %}
          None
          {% endif %}          
      </td>
      </tr>
    </table>
  {% else %}
    <p>There is no email data to display</p>
  {% endif %}
</div>
<div class="footer">
  <p>&copy; 2023 Bad Security Inc. All rights reserved.</p>
    <a href="/privacypolicy">Privacy Policy</a>
</div>
{% endblock %}